Web-front-back/backend/app/secrets/key.json
Web-front-back/frontend/public/firebase-messaging-sw.js
Web-front-back/frontend/build/firebase-messaging-sw.js
Web-front-back/frontend/.env
Android/app/google-services.json